
USE [ERP]
GO
/****** Object:  Table [dbo].[ApuntesContables]    Script Date: 18/03/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApuntesContables](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AsientoId] [int] NOT NULL,
	[CuentaId] [int] NOT NULL,
	[Debe] [decimal](18, 2) NULL,
	[Haber] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AsientosContables]    Script Date: 18/03/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AsientosContables](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpresaId] [int] NOT NULL,
	[Fecha] [datetime] NULL,
	[Glosa] [nvarchar](255) NOT NULL,
	[NumeroAsiento] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 18/03/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpresaId] [int] NOT NULL,
	[RazonSocial] [nvarchar](150) NOT NULL,
	[CifNif] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](150) NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConceptosFijosEmpleado]    Script Date: 18/03/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConceptosFijosEmpleado](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpresaId] [int] NOT NULL,
	[EmpleadoId] [int] NOT NULL,
	[ConceptoId] [int] NOT NULL,
	[ImporteFijo] [decimal](18, 2) NOT NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Empleado_Concepto] UNIQUE NONCLUSTERED 
(
	[EmpleadoId] ASC,
	[ConceptoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConceptosSalariales]    Script Date: 18/03/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConceptosSalariales](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpresaId] [int] NOT NULL,
	[CuentaContableId] [int] NULL,
	[Codigo] [nvarchar](20) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Tipo] [int] NOT NULL,
	[TributaIRPF] [bit] NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ControlGastos]    Script Date: 18/03/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ControlGastos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpresaId] [int] NOT NULL,
	[DepartamentoId] [int] NOT NULL,
	[EmpleadoId] [int] NOT NULL,
	[NominaId] [int] NOT NULL,
	[Mes] [int] NOT NULL,
	[Anio] [int] NOT NULL,
	[ImporteGasto] [decimal](18, 2) NOT NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CuentasContables]    Script Date: 18/03/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CuentasContables](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpresaId] [int] NOT NULL,
	[Codigo] [varchar](15) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Tipo] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Cuenta_Empresa] UNIQUE NONCLUSTERED 
(
	[EmpresaId] ASC,
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departamentos]    Script Date: 18/03/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamentos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpresaId] [int] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[PresupuestoAnual] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 18/03/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpresaId] [int] NOT NULL,
	[DepartamentoId] [int] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Apellidos] [nvarchar](150) NOT NULL,
	[DNI] [varchar](20) NOT NULL,
	[EmailCorporativo] [varchar](150) NULL,
	[Telefono] [varchar](20) NULL,
	[FechaNacimiento] [date] NOT NULL,
	[NumSeguridadSocial] [varchar](20) NOT NULL,
	[FechaAntiguedad] [date] NOT NULL,
	[GrupoCotizacion] [int] NOT NULL,
	[SalarioBrutoAnual] [decimal](18, 2) NOT NULL,
	[IBAN] [varchar](34) NULL,
	[NumeroHijos] [int] NOT NULL,
	[PorcentajeDiscapacidad] [int] NOT NULL,
	[EstadoCivil] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[FotoUrl] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DNI_Empresa] UNIQUE NONCLUSTERED 
(
	[EmpresaId] ASC,
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empresas]    Script Date: 18/03/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreComercial] [nvarchar](150) NOT NULL,
	[RazonSocial] [nvarchar](150) NOT NULL,
	[CIF] [varchar](20) NOT NULL,
	[FechaAlta] [datetime] NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CIF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FacturaDetalles]    Script Date: 18/03/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FacturaDetalles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FacturaId] [int] NOT NULL,
	[Concepto] [nvarchar](255) NOT NULL,
	[Cantidad] [decimal](18, 2) NOT NULL,
	[PrecioUnitario] [decimal](18, 2) NOT NULL,
	[TotalLinea] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facturas]    Script Date: 18/03/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facturas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpresaId] [int] NOT NULL,
	[ClienteId] [int] NOT NULL,
	[NumeroFactura] [nvarchar](50) NOT NULL,
	[FechaEmision] [datetime] NOT NULL,
	[EsEmitida] [bit] NOT NULL,
	[BaseImponible] [decimal](18, 2) NOT NULL,
	[IvaTotal] [decimal](18, 2) NOT NULL,
	[TotalFactura] [decimal](18, 2) NOT NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[AsientoId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NominaDetalles]    Script Date: 18/03/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NominaDetalles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NominaId] [int] NOT NULL,
	[ConceptoId] [int] NULL,
	[Codigo] [nvarchar](20) NOT NULL,
	[ConceptoNombre] [nvarchar](150) NOT NULL,
	[Importe] [decimal](18, 2) NOT NULL,
	[Tipo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nominas]    Script Date: 18/03/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nominas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpresaId] [int] NOT NULL,
	[EmpleadoId] [int] NOT NULL,
	[AsientoId] [int] NULL,
	[Mes] [int] NOT NULL,
	[Anio] [int] NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NOT NULL,
	[TotalDevengado] [decimal](18, 2) NOT NULL,
	[TotalDeducciones] [decimal](18, 2) NOT NULL,
	[LiquidoAPercibir] [decimal](18, 2) NOT NULL,
	[BaseCotizacion_CC] [decimal](18, 2) NOT NULL,
	[BaseCotizacion_CP] [decimal](18, 2) NOT NULL,
	[BaseIRPF] [decimal](18, 2) NOT NULL,
	[PorcentajeIRPF] [decimal](5, 2) NOT NULL,
	[SS_Empresa_ContingenciasComunes] [decimal](18, 2) NOT NULL,
	[SS_Empresa_AccidentesTrabajo] [decimal](18, 2) NOT NULL,
	[SS_Empresa_Desempleo] [decimal](18, 2) NOT NULL,
	[SS_Empresa_Formacion] [decimal](18, 2) NOT NULL,
	[SS_Empresa_Fogasa] [decimal](18, 2) NOT NULL,
	[SS_Empresa_Total] [decimal](18, 2) NOT NULL,
	[CosteTotalEmpresa]  AS ([TotalDevengado]+[SS_Empresa_Total]),
	[FechaGeneracion] [datetime] NULL,
	[SS_Empresa_MEI] [decimal](18, 2) NOT NULL,
	[SS_Empresa_HorasExtras] [decimal](18, 2) NOT NULL,
	[Estado] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeguridadUsuario]    Script Date: 18/03/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeguridadUsuario](
	[IdSeguridad] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Salt] [nvarchar](50) NOT NULL,
	[PasswordHash] [varbinary](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSeguridad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 18/03/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpresaId] [int] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Rol] [int] NOT NULL,
	[EmpleadoId] [int] NULL,
	[Activo] [bit] NULL,
	[Password] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Usuario_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Usuarios_Email]    Script Date: 18/03/2026 14:02:40 ******/
CREATE NONCLUSTERED INDEX [IX_Usuarios_Email] ON [dbo].[Usuarios]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ApuntesContables] ADD  DEFAULT ((0)) FOR [Debe]
GO
ALTER TABLE [dbo].[ApuntesContables] ADD  DEFAULT ((0)) FOR [Haber]
GO
ALTER TABLE [dbo].[AsientosContables] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[ConceptosFijosEmpleado] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[ConceptosSalariales] ADD  DEFAULT ((1)) FOR [TributaIRPF]
GO
ALTER TABLE [dbo].[ConceptosSalariales] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[ControlGastos] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Departamentos] ADD  DEFAULT ((0)) FOR [PresupuestoAnual]
GO
ALTER TABLE [dbo].[Empleados] ADD  DEFAULT ((0)) FOR [NumeroHijos]
GO
ALTER TABLE [dbo].[Empleados] ADD  DEFAULT ((0)) FOR [PorcentajeDiscapacidad]
GO
ALTER TABLE [dbo].[Empleados] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Empresas] ADD  DEFAULT (getdate()) FOR [FechaAlta]
GO
ALTER TABLE [dbo].[Empresas] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[FacturaDetalles] ADD  DEFAULT ((1)) FOR [Cantidad]
GO
ALTER TABLE [dbo].[FacturaDetalles] ADD  DEFAULT ((0)) FOR [PrecioUnitario]
GO
ALTER TABLE [dbo].[FacturaDetalles] ADD  DEFAULT ((0)) FOR [TotalLinea]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT ((1)) FOR [EsEmitida]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT ((0)) FOR [BaseImponible]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT ((0)) FOR [IvaTotal]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT ((0)) FOR [TotalFactura]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[Nominas] ADD  DEFAULT (getdate()) FOR [FechaGeneracion]
GO
ALTER TABLE [dbo].[Nominas] ADD  DEFAULT ((0)) FOR [SS_Empresa_MEI]
GO
ALTER TABLE [dbo].[Nominas] ADD  DEFAULT ((0)) FOR [SS_Empresa_HorasExtras]
GO
ALTER TABLE [dbo].[Nominas] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[ApuntesContables]  WITH CHECK ADD FOREIGN KEY([AsientoId])
REFERENCES [dbo].[AsientosContables] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ApuntesContables]  WITH CHECK ADD FOREIGN KEY([CuentaId])
REFERENCES [dbo].[CuentasContables] ([Id])
GO
ALTER TABLE [dbo].[AsientosContables]  WITH CHECK ADD FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[Empresas] ([Id])
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_Empresas] FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[Empresas] ([Id])
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK_Clientes_Empresas]
GO
ALTER TABLE [dbo].[ConceptosFijosEmpleado]  WITH CHECK ADD FOREIGN KEY([ConceptoId])
REFERENCES [dbo].[ConceptosSalariales] ([Id])
GO
ALTER TABLE [dbo].[ConceptosFijosEmpleado]  WITH CHECK ADD FOREIGN KEY([EmpleadoId])
REFERENCES [dbo].[Empleados] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ConceptosFijosEmpleado]  WITH CHECK ADD FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[Empresas] ([Id])
GO
ALTER TABLE [dbo].[ConceptosSalariales]  WITH CHECK ADD  CONSTRAINT [FK_Conceptos_Cuenta] FOREIGN KEY([CuentaContableId])
REFERENCES [dbo].[CuentasContables] ([Id])
GO
ALTER TABLE [dbo].[ConceptosSalariales] CHECK CONSTRAINT [FK_Conceptos_Cuenta]
GO
ALTER TABLE [dbo].[ConceptosSalariales]  WITH CHECK ADD  CONSTRAINT [FK_Conceptos_Empresa] FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[Empresas] ([Id])
GO
ALTER TABLE [dbo].[ConceptosSalariales] CHECK CONSTRAINT [FK_Conceptos_Empresa]
GO
ALTER TABLE [dbo].[ControlGastos]  WITH CHECK ADD FOREIGN KEY([DepartamentoId])
REFERENCES [dbo].[Departamentos] ([Id])
GO
ALTER TABLE [dbo].[ControlGastos]  WITH CHECK ADD FOREIGN KEY([EmpleadoId])
REFERENCES [dbo].[Empleados] ([Id])
GO
ALTER TABLE [dbo].[ControlGastos]  WITH CHECK ADD FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[Empresas] ([Id])
GO
ALTER TABLE [dbo].[ControlGastos]  WITH CHECK ADD FOREIGN KEY([NominaId])
REFERENCES [dbo].[Nominas] ([Id])
GO
ALTER TABLE [dbo].[CuentasContables]  WITH CHECK ADD FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[Empresas] ([Id])
GO
ALTER TABLE [dbo].[Departamentos]  WITH CHECK ADD FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[Empresas] ([Id])
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD FOREIGN KEY([DepartamentoId])
REFERENCES [dbo].[Departamentos] ([Id])
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[Empresas] ([Id])
GO
ALTER TABLE [dbo].[FacturaDetalles]  WITH CHECK ADD  CONSTRAINT [FK_FacturaDetalles_Facturas] FOREIGN KEY([FacturaId])
REFERENCES [dbo].[Facturas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FacturaDetalles] CHECK CONSTRAINT [FK_FacturaDetalles_Facturas]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_Asientos] FOREIGN KEY([AsientoId])
REFERENCES [dbo].[AsientosContables] ([Id])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturas_Asientos]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_Clientes] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clientes] ([Id])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturas_Clientes]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_Empresas] FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[Empresas] ([Id])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturas_Empresas]
GO
ALTER TABLE [dbo].[NominaDetalles]  WITH CHECK ADD FOREIGN KEY([ConceptoId])
REFERENCES [dbo].[ConceptosSalariales] ([Id])
GO
ALTER TABLE [dbo].[NominaDetalles]  WITH CHECK ADD FOREIGN KEY([NominaId])
REFERENCES [dbo].[Nominas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Nominas]  WITH CHECK ADD FOREIGN KEY([AsientoId])
REFERENCES [dbo].[AsientosContables] ([Id])
GO
ALTER TABLE [dbo].[Nominas]  WITH CHECK ADD FOREIGN KEY([EmpleadoId])
REFERENCES [dbo].[Empleados] ([Id])
GO
ALTER TABLE [dbo].[Nominas]  WITH CHECK ADD FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[Empresas] ([Id])
GO
ALTER TABLE [dbo].[SeguridadUsuario]  WITH CHECK ADD  CONSTRAINT [FK_Id_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[SeguridadUsuario] CHECK CONSTRAINT [FK_Id_Usuario]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[Empresas] ([Id])
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Empleado] FOREIGN KEY([EmpleadoId])
REFERENCES [dbo].[Empleados] ([Id])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuario_Empleado]
GO

