USE [master]
GO
/****** Object:  Database [ERP]    Script Date: 08/03/2026 21:51:21 ******/
CREATE DATABASE [ERP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ERP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DEVELOPER\MSSQL\DATA\ERP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ERP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DEVELOPER\MSSQL\DATA\ERP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ERP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ERP]
GO
/****** Object:  Table [dbo].[ApuntesContables]    Script Date: 08/03/2026 21:51:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApuntesContables](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AsientoId] [int] NOT NULL,
	[CuentaId] [int] NOT NULL,
	[Debe] [decimal](18, 2) NULL,
	[Haber] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AsientosContables]    Script Date: 08/03/2026 21:51:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AsientosContables](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpresaId] [int] NOT NULL,
	[Fecha] [datetime] NULL,
	[Glosa] [nvarchar](255) NOT NULL,
	[NumeroAsiento] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 08/03/2026 21:51:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpresaId] [int] NOT NULL,
	[RazonSocial] [nvarchar](150) NOT NULL,
	[CifNif] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](150) NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConceptosFijosEmpleado]    Script Date: 08/03/2026 21:51:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConceptosFijosEmpleado](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpresaId] [int] NOT NULL,
	[EmpleadoId] [int] NOT NULL,
	[ConceptoId] [int] NOT NULL,
	[ImporteFijo] [decimal](18, 2) NOT NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConceptosSalariales]    Script Date: 08/03/2026 21:51:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConceptosSalariales](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpresaId] [int] NOT NULL,
	[CuentaContableId] [int] NULL,
	[Codigo] [nvarchar](20) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Tipo] [int] NOT NULL,
	[TributaIRPF] [bit] NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ControlGastos]    Script Date: 08/03/2026 21:51:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ControlGastos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpresaId] [int] NOT NULL,
	[DepartamentoId] [int] NOT NULL,
	[EmpleadoId] [int] NOT NULL,
	[NominaId] [int] NOT NULL,
	[Mes] [int] NOT NULL,
	[Anio] [int] NOT NULL,
	[ImporteGasto] [decimal](18, 2) NOT NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CuentasContables]    Script Date: 08/03/2026 21:51:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CuentasContables](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpresaId] [int] NOT NULL,
	[Codigo] [varchar](15) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Tipo] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departamentos]    Script Date: 08/03/2026 21:51:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamentos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpresaId] [int] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[PresupuestoAnual] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 08/03/2026 21:51:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpresaId] [int] NOT NULL,
	[DepartamentoId] [int] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Apellidos] [nvarchar](150) NOT NULL,
	[DNI] [varchar](20) NOT NULL,
	[EmailCorporativo] [varchar](150) NULL,
	[Telefono] [varchar](20) NULL,
	[FechaNacimiento] [date] NOT NULL,
	[NumSeguridadSocial] [varchar](20) NOT NULL,
	[FechaAntiguedad] [date] NOT NULL,
	[GrupoCotizacion] [int] NOT NULL,
	[SalarioBrutoAnual] [decimal](18, 2) NOT NULL,
	[IBAN] [varchar](34) NULL,
	[NumeroHijos] [int] NOT NULL,
	[PorcentajeDiscapacidad] [int] NOT NULL,
	[EstadoCivil] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[FotoUrl] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empresas]    Script Date: 08/03/2026 21:51:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreComercial] [nvarchar](150) NOT NULL,
	[RazonSocial] [nvarchar](150) NOT NULL,
	[CIF] [varchar](20) NOT NULL,
	[FechaAlta] [datetime] NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FacturaDetalles]    Script Date: 08/03/2026 21:51:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FacturaDetalles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FacturaId] [int] NOT NULL,
	[Concepto] [nvarchar](255) NOT NULL,
	[Cantidad] [decimal](18, 2) NOT NULL,
	[PrecioUnitario] [decimal](18, 2) NOT NULL,
	[TotalLinea] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facturas]    Script Date: 08/03/2026 21:51:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facturas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpresaId] [int] NOT NULL,
	[ClienteId] [int] NOT NULL,
	[NumeroFactura] [nvarchar](50) NOT NULL,
	[FechaEmision] [datetime] NOT NULL,
	[EsEmitida] [bit] NOT NULL,
	[BaseImponible] [decimal](18, 2) NOT NULL,
	[IvaTotal] [decimal](18, 2) NOT NULL,
	[TotalFactura] [decimal](18, 2) NOT NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[AsientoId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NominaDetalles]    Script Date: 08/03/2026 21:51:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NominaDetalles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NominaId] [int] NOT NULL,
	[ConceptoId] [int] NULL,
	[Codigo] [nvarchar](20) NOT NULL,
	[ConceptoNombre] [nvarchar](150) NOT NULL,
	[Importe] [decimal](18, 2) NOT NULL,
	[Tipo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nominas]    Script Date: 08/03/2026 21:51:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nominas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpresaId] [int] NOT NULL,
	[EmpleadoId] [int] NOT NULL,
	[AsientoId] [int] NULL,
	[Mes] [int] NOT NULL,
	[Anio] [int] NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NOT NULL,
	[TotalDevengado] [decimal](18, 2) NOT NULL,
	[TotalDeducciones] [decimal](18, 2) NOT NULL,
	[LiquidoAPercibir] [decimal](18, 2) NOT NULL,
	[BaseCotizacion_CC] [decimal](18, 2) NOT NULL,
	[BaseCotizacion_CP] [decimal](18, 2) NOT NULL,
	[BaseIRPF] [decimal](18, 2) NOT NULL,
	[PorcentajeIRPF] [decimal](5, 2) NOT NULL,
	[SS_Empresa_ContingenciasComunes] [decimal](18, 2) NOT NULL,
	[SS_Empresa_AccidentesTrabajo] [decimal](18, 2) NOT NULL,
	[SS_Empresa_Desempleo] [decimal](18, 2) NOT NULL,
	[SS_Empresa_Formacion] [decimal](18, 2) NOT NULL,
	[SS_Empresa_Fogasa] [decimal](18, 2) NOT NULL,
	[SS_Empresa_Total] [decimal](18, 2) NOT NULL,
	[CosteTotalEmpresa]  AS ([TotalDevengado]+[SS_Empresa_Total]),
	[FechaGeneracion] [datetime] NULL,
	[SS_Empresa_MEI] [decimal](18, 2) NOT NULL,
	[SS_Empresa_HorasExtras] [decimal](18, 2) NOT NULL,
	[Estado] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeguridadUsuario]    Script Date: 08/03/2026 21:51:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeguridadUsuario](
	[IdSeguridad] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Salt] [nvarchar](50) NOT NULL,
	[PasswordHash] [varbinary](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSeguridad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 08/03/2026 21:51:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpresaId] [int] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Rol] [int] NOT NULL,
	[EmpleadoId] [int] NULL,
	[Activo] [bit] NULL,
	[Password] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ApuntesContables] ON 

INSERT [dbo].[ApuntesContables] ([Id], [AsientoId], [CuentaId], [Debe], [Haber]) VALUES (1, 1, 1, CAST(2100.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[ApuntesContables] ([Id], [AsientoId], [CuentaId], [Debe], [Haber]) VALUES (2, 1, 4, CAST(746.20 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[ApuntesContables] ([Id], [AsientoId], [CuentaId], [Debe], [Haber]) VALUES (3, 1, 3, CAST(0.00 AS Decimal(18, 2)), CAST(560.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ApuntesContables] OFF
GO
SET IDENTITY_INSERT [dbo].[AsientosContables] ON 

INSERT [dbo].[AsientosContables] ([Id], [EmpresaId], [Fecha], [Glosa], [NumeroAsiento]) VALUES (1, 4, CAST(N'2026-03-05T19:13:57.217' AS DateTime), N'Nómina 03/2026 - Diego Cardona', NULL)
INSERT [dbo].[AsientosContables] ([Id], [EmpresaId], [Fecha], [Glosa], [NumeroAsiento]) VALUES (2, 5, CAST(N'2026-03-07T00:00:00.000' AS DateTime), N'Factura FAC-202603-001 - Nexus Tech S.L', NULL)
INSERT [dbo].[AsientosContables] ([Id], [EmpresaId], [Fecha], [Glosa], [NumeroAsiento]) VALUES (3, 5, CAST(N'2026-03-01T00:00:00.000' AS DateTime), N'Factura FAC-202603-002 - Nexus Tech S.L', NULL)
SET IDENTITY_INSERT [dbo].[AsientosContables] OFF
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([Id], [EmpresaId], [RazonSocial], [CifNif], [Email], [Activo]) VALUES (1, 4, N'Nexus Tech S.L', N'B96378452', N'nexustech@gmail.com', 1)
INSERT [dbo].[Clientes] ([Id], [EmpresaId], [RazonSocial], [CifNif], [Email], [Activo]) VALUES (2, 5, N'Nexus Tech S.L', N'B96378452', N'nexustech@gmail.com', 1)
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[ConceptosFijosEmpleado] ON 

INSERT [dbo].[ConceptosFijosEmpleado] ([Id], [EmpresaId], [EmpleadoId], [ConceptoId], [ImporteFijo], [Activo]) VALUES (1, 3, 1, 1, CAST(3428.57 AS Decimal(18, 2)), 1)
INSERT [dbo].[ConceptosFijosEmpleado] ([Id], [EmpresaId], [EmpleadoId], [ConceptoId], [ImporteFijo], [Activo]) VALUES (2, 3, 1, 2, CAST(100.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[ConceptosFijosEmpleado] ([Id], [EmpresaId], [EmpleadoId], [ConceptoId], [ImporteFijo], [Activo]) VALUES (3, 3, 2, 1, CAST(2285.71 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[ConceptosFijosEmpleado] OFF
GO
SET IDENTITY_INSERT [dbo].[ConceptosSalariales] ON 

INSERT [dbo].[ConceptosSalariales] ([Id], [EmpresaId], [CuentaContableId], [Codigo], [Nombre], [Tipo], [TributaIRPF], [Activo]) VALUES (1, 3, NULL, N'SAL_BASE', N'Salario Base', 0, 1, 1)
INSERT [dbo].[ConceptosSalariales] ([Id], [EmpresaId], [CuentaContableId], [Codigo], [Nombre], [Tipo], [TributaIRPF], [Activo]) VALUES (2, 3, NULL, N'PLUS_TRANS', N'Plus transporte', 0, 0, 1)
INSERT [dbo].[ConceptosSalariales] ([Id], [EmpresaId], [CuentaContableId], [Codigo], [Nombre], [Tipo], [TributaIRPF], [Activo]) VALUES (3, 3, NULL, N'DED_CC', N'Contingencias Comunes', 0, 0, 1)
SET IDENTITY_INSERT [dbo].[ConceptosSalariales] OFF
GO
SET IDENTITY_INSERT [dbo].[CuentasContables] ON 

INSERT [dbo].[CuentasContables] ([Id], [EmpresaId], [Codigo], [Nombre], [Tipo]) VALUES (1, 4, N'6400000', N'Sueldos y Salarios', N'Gasto')
INSERT [dbo].[CuentasContables] ([Id], [EmpresaId], [Codigo], [Nombre], [Tipo]) VALUES (2, 4, N'4760000', N'Organismos de la Seguridad Social, acreedores', N'Pasivo')
INSERT [dbo].[CuentasContables] ([Id], [EmpresaId], [Codigo], [Nombre], [Tipo]) VALUES (3, 4, N'4751000', N'H.P. acreedora por retenciones practicadas', N'Pasivo')
SET IDENTITY_INSERT [dbo].[CuentasContables] OFF
GO
SET IDENTITY_INSERT [dbo].[Departamentos] ON 

INSERT [dbo].[Departamentos] ([Id], [EmpresaId], [Nombre], [PresupuestoAnual]) VALUES (1, 3, N'RRHH', CAST(3500.00 AS Decimal(18, 2)))
INSERT [dbo].[Departamentos] ([Id], [EmpresaId], [Nombre], [PresupuestoAnual]) VALUES (2, 3, N'Marketing', CAST(10000.00 AS Decimal(18, 2)))
INSERT [dbo].[Departamentos] ([Id], [EmpresaId], [Nombre], [PresupuestoAnual]) VALUES (3, 3, N'Finanzas', CAST(12000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Departamentos] OFF
GO
SET IDENTITY_INSERT [dbo].[Empleados] ON 

INSERT [dbo].[Empleados] ([Id], [EmpresaId], [DepartamentoId], [Nombre], [Apellidos], [DNI], [EmailCorporativo], [Telefono], [FechaNacimiento], [NumSeguridadSocial], [FechaAntiguedad], [GrupoCotizacion], [SalarioBrutoAnual], [IBAN], [NumeroHijos], [PorcentajeDiscapacidad], [EstadoCivil], [Activo], [FotoUrl]) VALUES (1, 3, 1, N'Carmen', N'López Medina', N'11111111A', N'carmen.lopez@nexus.com', N'600111222', CAST(N'1982-05-14' AS Date), N'28 11111111 22', CAST(N'2018-03-01' AS Date), 1, CAST(48000.00 AS Decimal(18, 2)), N'ES9121000418401234567890', 2, 0, 2, 1, NULL)
INSERT [dbo].[Empleados] ([Id], [EmpresaId], [DepartamentoId], [Nombre], [Apellidos], [DNI], [EmailCorporativo], [Telefono], [FechaNacimiento], [NumSeguridadSocial], [FechaAntiguedad], [GrupoCotizacion], [SalarioBrutoAnual], [IBAN], [NumeroHijos], [PorcentajeDiscapacidad], [EstadoCivil], [Activo], [FotoUrl]) VALUES (2, 3, 1, N'Raúl', N'Fernández Ríos', N'22222222B', N'raul.fernandez@nexus.com', N'600222333', CAST(N'1990-11-23' AS Date), N'28 22222222 33', CAST(N'2020-01-15' AS Date), 3, CAST(32000.00 AS Decimal(18, 2)), N'ES9114650100421234567891', 0, 0, 1, 1, NULL)
INSERT [dbo].[Empleados] ([Id], [EmpresaId], [DepartamentoId], [Nombre], [Apellidos], [DNI], [EmailCorporativo], [Telefono], [FechaNacimiento], [NumSeguridadSocial], [FechaAntiguedad], [GrupoCotizacion], [SalarioBrutoAnual], [IBAN], [NumeroHijos], [PorcentajeDiscapacidad], [EstadoCivil], [Activo], [FotoUrl]) VALUES (3, 3, 1, N'Elena', N'Martín Ruiz', N'33333333C', N'elena.martin@nexus.com', N'600333444', CAST(N'1988-07-09' AS Date), N'28 33333333 44', CAST(N'2019-09-01' AS Date), 3, CAST(35000.00 AS Decimal(18, 2)), N'ES9100810100431234567892', 1, 0, 2, 1, NULL)
SET IDENTITY_INSERT [dbo].[Empleados] OFF
GO
SET IDENTITY_INSERT [dbo].[Empresas] ON 

INSERT [dbo].[Empresas] ([Id], [NombreComercial], [RazonSocial], [CIF], [FechaAlta], [Activo]) VALUES (2, N'Jorge1 S.A', N'Jorge1 S.A', N'A28037042', CAST(N'2026-02-25T22:09:54.527' AS DateTime), 1)
INSERT [dbo].[Empresas] ([Id], [NombreComercial], [RazonSocial], [CIF], [FechaAlta], [Activo]) VALUES (3, N'Jorge S.L', N'Jorge S.L', N'B12345678', CAST(N'2026-02-27T17:57:12.033' AS DateTime), 1)
INSERT [dbo].[Empresas] ([Id], [NombreComercial], [RazonSocial], [CIF], [FechaAlta], [Activo]) VALUES (4, N'Canovas S.L', N'Canovas S.L', N'B236475647', CAST(N'2026-03-05T19:09:48.670' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Empresas] OFF
GO
SET IDENTITY_INSERT [dbo].[FacturaDetalles] ON 

INSERT [dbo].[FacturaDetalles] ([Id], [FacturaId], [Concepto], [Cantidad], [PrecioUnitario], [TotalLinea]) VALUES (1, 1, N'Consultoría informática', CAST(1.00 AS Decimal(18, 2)), CAST(3900.00 AS Decimal(18, 2)), CAST(3900.00 AS Decimal(18, 2)))
INSERT [dbo].[FacturaDetalles] ([Id], [FacturaId], [Concepto], [Cantidad], [PrecioUnitario], [TotalLinea]) VALUES (2, 1, N'Nuevas incorporaciones', CAST(1.00 AS Decimal(18, 2)), CAST(5000.00 AS Decimal(18, 2)), CAST(5000.00 AS Decimal(18, 2)))
INSERT [dbo].[FacturaDetalles] ([Id], [FacturaId], [Concepto], [Cantidad], [PrecioUnitario], [TotalLinea]) VALUES (3, 2, N'Consultoria', CAST(1.00 AS Decimal(18, 2)), CAST(150.00 AS Decimal(18, 2)), CAST(150.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[FacturaDetalles] OFF
GO
SET IDENTITY_INSERT [dbo].[Facturas] ON 

INSERT [dbo].[Facturas] ([Id], [EmpresaId], [ClienteId], [NumeroFactura], [FechaEmision], [EsEmitida], [BaseImponible], [IvaTotal], [TotalFactura], [Estado], [AsientoId]) VALUES (1, 5, 2, N'FAC-202603-001', CAST(N'2026-03-07T00:00:00.000' AS DateTime), 1, CAST(8900.00 AS Decimal(18, 2)), CAST(1869.00 AS Decimal(18, 2)), CAST(10769.00 AS Decimal(18, 2)), N'Pagada', 2)
INSERT [dbo].[Facturas] ([Id], [EmpresaId], [ClienteId], [NumeroFactura], [FechaEmision], [EsEmitida], [BaseImponible], [IvaTotal], [TotalFactura], [Estado], [AsientoId]) VALUES (2, 5, 2, N'FAC-202603-002', CAST(N'2026-03-01T00:00:00.000' AS DateTime), 1, CAST(150.00 AS Decimal(18, 2)), CAST(31.50 AS Decimal(18, 2)), CAST(181.50 AS Decimal(18, 2)), N'Pendiente', 3)
INSERT [dbo].[Facturas] ([Id], [EmpresaId], [ClienteId], [NumeroFactura], [FechaEmision], [EsEmitida], [BaseImponible], [IvaTotal], [TotalFactura], [Estado], [AsientoId]) VALUES (3, 5, 2, N'FAC-202603-0011', CAST(N'2026-03-07T00:00:00.000' AS DateTime), 1, CAST(80.00 AS Decimal(18, 2)), CAST(16.80 AS Decimal(18, 2)), CAST(96.80 AS Decimal(18, 2)), N'Pendiente', 4)
SET IDENTITY_INSERT [dbo].[Facturas] OFF
GO
SET IDENTITY_INSERT [dbo].[NominaDetalles] ON 

INSERT [dbo].[NominaDetalles] ([Id], [NominaId], [ConceptoId], [Codigo], [ConceptoNombre], [Importe], [Tipo]) VALUES (1, 1, 1, N'SAL_BASE', N'Salario Base', CAST(3428.57 AS Decimal(18, 2)), 1)
INSERT [dbo].[NominaDetalles] ([Id], [NominaId], [ConceptoId], [Codigo], [ConceptoNombre], [Importe], [Tipo]) VALUES (2, 1, 2, N'PLUS_TRANS', N'Plus transporte', CAST(100.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[NominaDetalles] ([Id], [NominaId], [ConceptoId], [Codigo], [ConceptoNombre], [Importe], [Tipo]) VALUES (3, 1, 3, N'DED_CC', N'Contingencias Comunes', CAST(188.00 AS Decimal(18, 2)), 2)
SET IDENTITY_INSERT [dbo].[NominaDetalles] OFF
GO
SET IDENTITY_INSERT [dbo].[Nominas] ON 

SET IDENTITY_INSERT [dbo].[Nominas] OFF
GO
SET IDENTITY_INSERT [dbo].[SeguridadUsuario] ON 

INSERT [dbo].[SeguridadUsuario] ([IdSeguridad], [IdUsuario], [Salt], [PasswordHash]) VALUES (1, 2, N'kÏµé4ÀÑ2¼óõî¯B0J`TeÓü0~l:)NÂnÐZìí
÷WR}:«hi', 0xC3834583DA48EB9C19F55E49AD8F3AD7BB90C9BF2B9B998305A7F4A4F34FDAD5233B7BDFB81693C5DBBEBDDB6E11E6B04A56D782EF4BF871D0B4A9C21E02E911)
INSERT [dbo].[SeguridadUsuario] ([IdSeguridad], [IdUsuario], [Salt], [PasswordHash]) VALUES (2, 3, N'iïªè×ÍmH3CárJ«UÖ:¡¦ 1OÑ´Fß\ÛÅ¤S 
³¥¢É', 0x9A4494B767A238C62647BC4EC7FFBB22CA65B6AEF68C880AD68728DD703CE71C8F7FA0CA7E9CB8D7C8CADD103A187F57E6F31EC3C37A3ADFD9134ABC29207CD7)
INSERT [dbo].[SeguridadUsuario] ([IdSeguridad], [IdUsuario], [Salt], [PasswordHash]) VALUES (3, 4, N'1ÆWL×í¼æÐªû­ÙëõópsïSðçîaq²päÀC×¼½JKW¥T±-', 0xA25DA9CC2586CAFE9D27A8A65305F477B76569995B31B24CD522B72239415C264399A3E7E6B2441DFCF69D6A8B4CF9CC00E93726C5EF413DD51469850F9E27F7)
INSERT [dbo].[SeguridadUsuario] ([IdSeguridad], [IdUsuario], [Salt], [PasswordHash]) VALUES (4, 5, N'6Hï_¼l2w³\¤ ú²«°ÕÆ´¤1¨*Î½ç®h¯¥Ô¥''Âí@S', 0x6C84BD022CB477E4D341DEDF12ED511BB11F99D2D53F71F89EC5541BA82EC050CD26FD72985F55039184C82261404258C38D9A4CA275B931CA2887E22618DCE6)
INSERT [dbo].[SeguridadUsuario] ([IdSeguridad], [IdUsuario], [Salt], [PasswordHash]) VALUES (5, 6, N'êíýx¡põÔENnñpd0ám2f=@{}!K¯NEõ$3|	æ2£oSÝÇK', 0xDE36292DE372A537435CC1DA4512281BE84640D6D7BC677828FB40BA83938E81F9029CC3736B8830230DB142864999DDEA487C073347890534C57ECEFAACA315)
INSERT [dbo].[SeguridadUsuario] ([IdSeguridad], [IdUsuario], [Salt], [PasswordHash]) VALUES (10, 11, N'Ð[-Ç\ÄWzdÒ}(n&ç2r}8Í/¡¯¿»eNêuÁ
ÈÍqè¯', 0x0840ED27A5B86F72200B32561B6AE4EA46D16663C31B13EB2629BAF8AFFA96D75663ABF589349A2BD0519A41815992761C5438F995BED40163A33321BEF113CB)
SET IDENTITY_INSERT [dbo].[SeguridadUsuario] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [EmpresaId], [Nombre], [Email], [Rol], [EmpleadoId], [Activo], [Password]) VALUES (2, 2, N'Jorge1', N'jorge1@gmail.com', 1, NULL, 1, N'123456')
INSERT [dbo].[Usuarios] ([Id], [EmpresaId], [Nombre], [Email], [Rol], [EmpleadoId], [Activo], [Password]) VALUES (3, 3, N'Jorge', N'jorge@gmail.com', 1, NULL, 1, N'1234')
INSERT [dbo].[Usuarios] ([Id], [EmpresaId], [Nombre], [Email], [Rol], [EmpleadoId], [Activo], [Password]) VALUES (4, 3, N'Raul Rodriguez', N'rodriguez@nexus.com', 2, NULL, 1, N'1234')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
/****** Object:  Index [UQ_Empleado_Concepto]    Script Date: 08/03/2026 21:51:22 ******/
ALTER TABLE [dbo].[ConceptosFijosEmpleado] ADD  CONSTRAINT [UQ_Empleado_Concepto] UNIQUE NONCLUSTERED 
(
	[EmpleadoId] ASC,
	[ConceptoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Cuenta_Empresa]    Script Date: 08/03/2026 21:51:22 ******/
ALTER TABLE [dbo].[CuentasContables] ADD  CONSTRAINT [UQ_Cuenta_Empresa] UNIQUE NONCLUSTERED 
(
	[EmpresaId] ASC,
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_DNI_Empresa]    Script Date: 08/03/2026 21:51:22 ******/
ALTER TABLE [dbo].[Empleados] ADD  CONSTRAINT [UQ_DNI_Empresa] UNIQUE NONCLUSTERED 
(
	[EmpresaId] ASC,
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Empresas__C1F8DC5E997B949B]    Script Date: 08/03/2026 21:51:22 ******/
ALTER TABLE [dbo].[Empresas] ADD UNIQUE NONCLUSTERED 
(
	[CIF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Usuario_Email]    Script Date: 08/03/2026 21:51:22 ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [UQ_Usuario_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Usuarios_Email]    Script Date: 08/03/2026 21:51:22 ******/
CREATE NONCLUSTERED INDEX [IX_Usuarios_Email] ON [dbo].[Usuarios]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ApuntesContables] ADD  DEFAULT ((0)) FOR [Debe]
GO
ALTER TABLE [dbo].[ApuntesContables] ADD  DEFAULT ((0)) FOR [Haber]
GO
ALTER TABLE [dbo].[AsientosContables] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[ConceptosFijosEmpleado] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[ConceptosSalariales] ADD  DEFAULT ((1)) FOR [TributaIRPF]
GO
ALTER TABLE [dbo].[ConceptosSalariales] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[ControlGastos] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Departamentos] ADD  DEFAULT ((0)) FOR [PresupuestoAnual]
GO
ALTER TABLE [dbo].[Empleados] ADD  DEFAULT ((0)) FOR [NumeroHijos]
GO
ALTER TABLE [dbo].[Empleados] ADD  DEFAULT ((0)) FOR [PorcentajeDiscapacidad]
GO
ALTER TABLE [dbo].[Empleados] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Empresas] ADD  DEFAULT (getdate()) FOR [FechaAlta]
GO
ALTER TABLE [dbo].[Empresas] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[FacturaDetalles] ADD  DEFAULT ((1)) FOR [Cantidad]
GO
ALTER TABLE [dbo].[FacturaDetalles] ADD  DEFAULT ((0)) FOR [PrecioUnitario]
GO
ALTER TABLE [dbo].[FacturaDetalles] ADD  DEFAULT ((0)) FOR [TotalLinea]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT ((1)) FOR [EsEmitida]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT ((0)) FOR [BaseImponible]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT ((0)) FOR [IvaTotal]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT ((0)) FOR [TotalFactura]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[Nominas] ADD  DEFAULT (getdate()) FOR [FechaGeneracion]
GO
ALTER TABLE [dbo].[Nominas] ADD  DEFAULT ((0)) FOR [SS_Empresa_MEI]
GO
ALTER TABLE [dbo].[Nominas] ADD  DEFAULT ((0)) FOR [SS_Empresa_HorasExtras]
GO
ALTER TABLE [dbo].[Nominas] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[ApuntesContables]  WITH CHECK ADD FOREIGN KEY([AsientoId])
REFERENCES [dbo].[AsientosContables] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ApuntesContables]  WITH CHECK ADD FOREIGN KEY([CuentaId])
REFERENCES [dbo].[CuentasContables] ([Id])
GO
ALTER TABLE [dbo].[AsientosContables]  WITH CHECK ADD FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[Empresas] ([Id])
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_Empresas] FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[Empresas] ([Id])
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK_Clientes_Empresas]
GO
ALTER TABLE [dbo].[ConceptosFijosEmpleado]  WITH CHECK ADD FOREIGN KEY([ConceptoId])
REFERENCES [dbo].[ConceptosSalariales] ([Id])
GO
ALTER TABLE [dbo].[ConceptosFijosEmpleado]  WITH CHECK ADD FOREIGN KEY([EmpleadoId])
REFERENCES [dbo].[Empleados] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ConceptosFijosEmpleado]  WITH CHECK ADD FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[Empresas] ([Id])
GO
ALTER TABLE [dbo].[ConceptosSalariales]  WITH CHECK ADD  CONSTRAINT [FK_Conceptos_Cuenta] FOREIGN KEY([CuentaContableId])
REFERENCES [dbo].[CuentasContables] ([Id])
GO
ALTER TABLE [dbo].[ConceptosSalariales] CHECK CONSTRAINT [FK_Conceptos_Cuenta]
GO
ALTER TABLE [dbo].[ConceptosSalariales]  WITH CHECK ADD  CONSTRAINT [FK_Conceptos_Empresa] FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[Empresas] ([Id])
GO
ALTER TABLE [dbo].[ConceptosSalariales] CHECK CONSTRAINT [FK_Conceptos_Empresa]
GO
ALTER TABLE [dbo].[ControlGastos]  WITH CHECK ADD FOREIGN KEY([DepartamentoId])
REFERENCES [dbo].[Departamentos] ([Id])
GO
ALTER TABLE [dbo].[ControlGastos]  WITH CHECK ADD FOREIGN KEY([EmpleadoId])
REFERENCES [dbo].[Empleados] ([Id])
GO
ALTER TABLE [dbo].[ControlGastos]  WITH CHECK ADD FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[Empresas] ([Id])
GO
ALTER TABLE [dbo].[ControlGastos]  WITH CHECK ADD FOREIGN KEY([NominaId])
REFERENCES [dbo].[Nominas] ([Id])
GO
ALTER TABLE [dbo].[CuentasContables]  WITH CHECK ADD FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[Empresas] ([Id])
GO
ALTER TABLE [dbo].[Departamentos]  WITH CHECK ADD FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[Empresas] ([Id])
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD FOREIGN KEY([DepartamentoId])
REFERENCES [dbo].[Departamentos] ([Id])
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[Empresas] ([Id])
GO
ALTER TABLE [dbo].[FacturaDetalles]  WITH CHECK ADD  CONSTRAINT [FK_FacturaDetalles_Facturas] FOREIGN KEY([FacturaId])
REFERENCES [dbo].[Facturas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FacturaDetalles] CHECK CONSTRAINT [FK_FacturaDetalles_Facturas]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_Asientos] FOREIGN KEY([AsientoId])
REFERENCES [dbo].[AsientosContables] ([Id])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturas_Asientos]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_Clientes] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clientes] ([Id])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturas_Clientes]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_Empresas] FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[Empresas] ([Id])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturas_Empresas]
GO
ALTER TABLE [dbo].[NominaDetalles]  WITH CHECK ADD FOREIGN KEY([ConceptoId])
REFERENCES [dbo].[ConceptosSalariales] ([Id])
GO
ALTER TABLE [dbo].[NominaDetalles]  WITH CHECK ADD FOREIGN KEY([NominaId])
REFERENCES [dbo].[Nominas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Nominas]  WITH CHECK ADD FOREIGN KEY([AsientoId])
REFERENCES [dbo].[AsientosContables] ([Id])
GO
ALTER TABLE [dbo].[Nominas]  WITH CHECK ADD FOREIGN KEY([EmpleadoId])
REFERENCES [dbo].[Empleados] ([Id])
GO
ALTER TABLE [dbo].[Nominas]  WITH CHECK ADD FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[Empresas] ([Id])
GO
ALTER TABLE [dbo].[SeguridadUsuario]  WITH CHECK ADD  CONSTRAINT [FK_Id_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[SeguridadUsuario] CHECK CONSTRAINT [FK_Id_Usuario]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[Empresas] ([Id])
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Empleado] FOREIGN KEY([EmpleadoId])
REFERENCES [dbo].[Empleados] ([Id])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuario_Empleado]
GO
USE [master]
GO
