/* Views/Shared/_LayoutPublico.cshtml.css */

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    /* La magia para que el scroll y el menú fijo funcionen */
    min-height: 100vh;
    padding-top: 100px;
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

/* Estilos específicos de la barra de navegación */
.header-blur {
    backdrop-filter: blur(10px);
}

.navbar-bg {
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 2px 4px rgba(0,0,0,.05);
}

.nav-link {
    transition: color 0.3s ease;
}

    .nav-link:hover {
        color: var(--secondary-color) !important;
    }
